@import "custom.scss";
@import "~bootstrap/scss/bootstrap";


body{
    background: #259896;
}

.top-bar{
    background-color: #259896;
}

.nav-link{
    background-color: #f8b83f;
}

.searchbar {
    margin: 1rem;
}

.search-field {
    width: 0;
    height: 40px;
    margin-left: 1rem;
    padding: 0;
    border-radius: 50px;
    border: none;
    transition: all 0.5s ease;
}

.expand-search {
    width: 80%;
    max-width: calc(80% - 3rem);
    border: 1px solid #f8b83f;
    padding: .5rem;
}

svg {
    width: 20px;
    height: 20px;
}

.button{
    width: 100px;
    height: 100px;
    background-color: #f8b83f;
}

img{
    width: 50%;
   margin: auto;
    
}

.imgPresentationEntreprise{
    width: 75%;
   margin: auto;
    
}